name: R-hub

on:
  workflow_dispatch:
    inputs:
      config:
        description: 'Comma-separated list of R-hub platforms to use.'
        type: string
        default: 'linux,windows,macos'
      name:
        description: 'Run name (optional).'
        type: string
      id:
        description: 'Unique ID (optional).'
        type: string

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      containers: ${{ steps.rhub-setup.outputs.containers }}
      platforms: ${{ steps.rhub-setup.outputs.platforms }}
    steps:
      - uses: r-hub/actions/setup@v1
        with:
          config: ${{ github.event.inputs.config }}
        id: rhub-setup

  linux-containers:
    needs: setup
    if: ${{ needs.setup.outputs.containers != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJson(needs.setup.outputs.containers) }}
    container:
      image: ${{ matrix.config.container }}
    steps:
      - uses: actions/checkout@v4
      - uses: r-hub/actions/platform-info@v1
        with:
          token: ${{ secrets.RHUB_TOKEN }}
          job-config: ${{ matrix.config.job-config }}
      - name: Install R packages
        run: |
          Rscript -e 'install.packages("pak", repos = "https://cloud.r-project.org")'
          Rscript -e 'pak::pkg_install(c("rcmdcheck", "remotes"))'
          Rscript -e 'pak::pkg_install("dmlc/xgboost@3.1.1.1")'
      - uses: r-hub/actions/run-check@v1
        with:
          token: ${{ secrets.RHUB_TOKEN }}
          job-config: ${{ matrix.config.job-config }}

  other-platforms:
    needs: setup
    if: ${{ needs.setup.outputs.platforms != '[]' }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJson(needs.setup.outputs.platforms) }}
    steps:
      - uses: actions/checkout@v4
      - uses: r-hub/actions/setup-r@v1
        with:
          job-config: ${{ matrix.config.job-config }}
          token: ${{ secrets.RHUB_TOKEN }}
      - uses: r-hub/actions/platform-info@v1
        with:
          token: ${{ secrets.RHUB_TOKEN }}
          job-config: ${{ matrix.config.job-config }}
      - name: Install R packages
        run: |
          Rscript -e 'install.packages("pak", repos = "https://cloud.r-project.org")'
          Rscript -e 'pak::pkg_install(c("rcmdcheck", "remotes"))'
          Rscript -e 'pak::pkg_install("dmlc/xgboost@3.1.1.1")'
      - uses: r-hub/actions/run-check@v1
        with:
          job-config: ${{ matrix.config.job-config }}
          token: ${{ secrets.RHUB_TOKEN }}